.button1{
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: normal;
    padding-block: 15px;
    font-size: 18px;
    border-radius: 30px;
    min-width: 200px;
    width: 100%;
}
.button1:active{
    box-shadow: 1px -1px 13px 2px rgba(2, 0, 112, 0.25);
}

.button2{
    outline: none;
    border: none;
    background-color: white;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.1s;
}
.button2:active{
    box-shadow: 1px -1px 13px 2px rgba(2, 0, 112, 0.25);
}