.container{
    width: 100%;
}
.input{
    min-width: 300px;
    border: solid 1px #EEEEEE;
    font-size: 18px;
    padding-block: 15px;
    padding-inline: 20px;
    padding-left: 45px;
    border-radius: 30px;
    outline: none;
    transition: all 0.2s;
    width: calc(100%-40px);
}
.icon{
    position: absolute;
    font-size: 20px;
    margin-top: 17px;
    margin-left: 18px;
    color: #333333;
}
.input:focus{
    border-color: #868686;
}